body {
    margin:0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color:  #C3F8FF;
    color:#40514e;
}

h1 {
    margin-top: 0px;
    width: 40%;
    margin: 0px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: rgb(6, 137, 238);


}

.container {
    background-color: #C3F8FF;
    height: 600px;
    position: relative;
    padding-top: 100px;


}

.mountain {
    position: absolute;
    left: 650px;
    bottom: 30px;
}

.lower-cloud {
    position: absolute;
    left: 200px;

}

.top-cloud {
    position: absolute;
    top: 30px;
    right: 200px;


}

h2{
    font-size:50px ;
    color:rgb(6, 137, 238);
    font-family: 'Montserrat', sans-serif;

}
h3{  font-size: 30px;
    color:rgb(6, 137, 238);
    font-family: 'Montserrat', sans-serif;

}
p{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;

}

.middle-container{
    margin-top:100px;
}
.profile{
    width:50%;
    margin:auto auto 100px auto;
    line-height: 2;
    text-align: left;
}
.shivam{
    width:24%;
    float:left; 
    border-radius:50%;
    margin:auto 30px auto auto ;
}
.skill-row{
    width:50%;
    margin:30px auto 100px auto;
    line-height:2;
    text-align:left;
}
.chilly{
width:40%;
float:right;
border-radius: 50%;
margin:auto auto auto 40px;
}
.computer{
    width:40%;
    float:left;
    border-radius:50%;
    margin:auto 40px auto auto;
    
 }
 hr{
    width:2%;
    border:dotted rgb(139, 134, 134)  12px;
    border-bottom:none;
    margin:100px auto 100px auto;
 }
 p{
    line-height:2;
}

.contact{
    width:30%;
    margin:60px auto 100px auto;
 }
 .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom-container{
   background-color:#ffffff;
  }
.contact-me{
    padding-bottom:100px;
}
  .bottom-container{
    padding-top:30px;
  }
.bottom-container{
    height:200px;
}
a{
    margin-right:80px;
    color:#0bdd54;
}
a:hover {
    color:#0c0c0a;
}